* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*para elegir el tipo de letra*/
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    height: 30px;
    width: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.microsoft {
    background-image: url(../img/logo.png);
    background-size: cover;
    height: 25px;
    width: 10%;
    float: left;
    margin-right: 20px;
}

.cuenta {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    font-size: 20px;
}
.ayuda{
    float: left;
    margin-top: 7px;
    font-size: 15px;
}
.iniciosesion {
    float:right
}
.lupa{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.tag { /*palabra ayuda*/
    font-size: 13px; /*tamaño de la letra*/
    margin-left: 10px;
}
a {
    text-decoration: none;
    
}

.bienvenida{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    height: 500px;
}
.texto-bienvenida{
    float: left;
    width: 35%;
    padding-top: 105px;
    padding-left: 105px;
}
.botones{
    float: left;
    margin-top: 50px;
    
}



